@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

main{
    background-color: rgb(219, 249, 218);
    height: auto;
    border-radius: 20px;
    
}

h1{
    display: block;
    background-color: rgba(8, 235, 0, 0.687);
    border-radius: 20px 20px -0px -0px;
    color: rgba(255, 255, 255, 0.667);
    
}

h1#segundo{
    border-radius: 0px;
}

form ,h1{
    padding: 10px;
}

label{
    width: 400px;
    display: block;
    background-color: rgba(5, 84, 2, 0.687);
    color: whitesmoke;
    border-radius: 10px;
    padding: 3px;
    
}

select{
    border-radius: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

input{
    display: block;
    margin-bottom: 20px;
}
