@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    background-color: white;
   /*background-color: #e1e1e1a6;*/ 
}

header{
    /* width: auto;
    height: auto;
    margin: auto; */
    background-color: coral;
}


/* img{
    width: 100%;
} */

/* header img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
} */

main{
    width:auto;
    height:auto;
    margin: auto;
    margin: 5px auto 5px auto;
    background-color: rgb(245, 245, 245);
    content: "";
    display: table;
    clear: both;
    border-radius: 10px 10px -0px -0px;
}

.ajuste-botao{
    padding: 2px;
    font-size: 30px;
}

.ajuste-form-index{
    background-color: rgb(188, 187, 187);
    border-radius: 10px 10px -0px -0px;
      
}

label{
    padding: 10px;
    font-size: 30px;
}

.ajuste-form-index{
    width: auto;
    height: 45px;
    font-weight: bold;
    font-size: 1em;
    padding: 5px;
}

main > picture {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}

/* figcaption, img {
    display: inline;
} */

picture{
    float: left;
    margin-right: 5px;
}

.pic {
    border: 1px solid black;
    border-radius: 4px;
    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.42);
}

figcaption {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    background-color:#EEE;
    border-radius: 4px;
    margin-top: 5px;
    width: 304px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;	
}
section{
    clear: both;
    background-color: rgb(232, 231, 231);
    font-weight: bold;
    text-align: center;
    font-size: 1em;
}

li{
    list-style: none;
    font-size: 30px;
}

footer{
    width:auto;
    height:30px;
    margin: auto;
    background-color: rgb(218, 166, 35);
    text-align: center;
    padding-top: 5px;
    color: white;
    font-weight: bold;
}